{:deps    {org.clojure/clojure       {:mvn/version "1.10.1"}
           org.clojure/clojurescript {:mvn/version "1.10.773"}
           reagent                   {:mvn/version "1.0.0-rc1"}
           ysera                     {:mvn/version "2.0.2"}}
 :paths   ["dev" "src" "resources"]
 :aliases {:fig  {:extra-deps  {com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
                                com.bhauman/figwheel-main       {:mvn/version "0.2.12"}}
                  :extra-paths ["target"]}
           :dev  {:main-opts ["-m" "figwheel.main" "-co" "dev.build.edn" "-b" "dev" "-r"]}
           :prod {:main-opts ["-m" "figwheel.main" "-co" "prod.build.edn" "-bo" "prod"]}}}
